appnope @ file:///Users/runner/miniforge3/conda-bld/appnope_1635819660018/work
argcomplete @ file:///home/conda/feedstock_root/build_artifacts/argcomplete_1619128689661/work
argon2-cffi @ file:///Users/runner/miniforge3/conda-bld/argon2-cffi_1636021669196/work
async-generator==1.10
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1620387926260/work
awsebcli @ file:///Users/runner/miniforge3/conda-bld/awsebcli_1636629289540/work
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1629908509068/work
blessed @ file:///Users/runner/miniforge3/conda-bld/blessed_1636225061899/work
botocore @ file:///home/conda/feedstock_root/build_artifacts/botocore_1638841686553/work
brotlipy @ file:///Users/runner/miniforge3/conda-bld/brotlipy_1636012552952/work
cement==2.10.12
certifi==2021.10.8
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1636046195845/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1638815705608/work
click==8.0.3
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
cryptography @ file:///Users/runner/miniforge3/conda-bld/cryptography_1637648804040/work
debugpy @ file:///Users/runner/miniforge3/conda-bld/debugpy_1636043402768/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1631346842025/work
defusedxml @ file:///home/conda/feedstock_root/build_artifacts/defusedxml_1615232257335/work
dj-database-url==0.5.0
Django==2.2.4
django-filter==21.1
django-heroku==0.3.1
djangorestframework==3.12.4
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1605121927639/work/dist/entrypoints-0.3-py2.py3-none-any.whl
future @ file:///Users/runner/miniforge3/conda-bld/future_1635819859472/work
gensim @ file:///Users/runner/miniforge3/conda-bld/gensim_1636462844136/work
gunicorn==20.1.0
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1609836280497/work
importlib-metadata @ file:///Users/runner/miniforge3/conda-bld/importlib-metadata_1636431629957/work
importlib-resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1635615662634/work
ipykernel @ file:///Users/runner/miniforge3/conda-bld/ipykernel_1638555726530/work/dist/ipykernel-6.6.0-py3-none-any.whl
ipython @ file:///Users/runner/miniforge3/conda-bld/ipython_1638470553070/work
ipython-genutils==0.2.0
jedi @ file:///Users/runner/miniforge3/conda-bld/jedi_1637175421629/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1636510082894/work
jmespath @ file:///home/conda/feedstock_root/build_artifacts/jmespath_1589369830981/work
joblib==1.1.0
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema_1636165360877/work
jupyter-client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1637611911738/work
jupyter-core @ file:///Users/runner/miniforge3/conda-bld/jupyter_core_1636814373394/work
jupyterlab-pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1601375948261/work
Markdown==3.3.6
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1635833657828/work
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1631080358261/work
mistune @ file:///Users/runner/miniforge3/conda-bld/mistune_1635844784678/work
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1637327213451/work
nbconvert @ file:///Users/runner/miniforge3/conda-bld/nbconvert_1636897358700/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1617383142101/work
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1638419302549/work
nltk==3.6.5
notebook @ file:///home/conda/feedstock_root/build_artifacts/notebook_1637122013008/work
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1636145681404/work
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1637239678211/work
pandas==1.3.4
pandocfilters @ file:///home/conda/feedstock_root/build_artifacts/pandocfilters_1631603243851/work
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
pathspec @ file:///home/conda/feedstock_root/build_artifacts/pathspec_1626613672358/work
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1602535608087/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1636558904516/work
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1635538335951/work
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1638819664167/work
psycopg2==2.7.7
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1629119114968/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1633192417276/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1636757021002/work
pyrsistent @ file:///Users/runner/miniforge3/conda-bld/pyrsistent_1636052847096/work
PySocks @ file:///Users/runner/miniforge3/conda-bld/pysocks_1635862517014/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1633452062248/work
PyYAML @ file:///Users/runner/miniforge3/conda-bld/pyyaml_1636140010416/work
pyzmq @ file:///Users/runner/miniforge3/conda-bld/pyzmq_1635877593895/work
regex==2021.11.10
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1637771257551/work
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy_1637806768271/work
semantic-version @ file:///home/conda/feedstock_root/build_artifacts/semantic_version_1589368664588/work
Send2Trash @ file:///home/conda/feedstock_root/build_artifacts/send2trash_1628511208346/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
smart-open @ file:///home/conda/feedstock_root/build_artifacts/smart_open_1630238320325/work
sqlparse==0.4.2
termcolor==1.1.0
terminado @ file:///Users/runner/miniforge3/conda-bld/terminado_1636052442886/work
testpath @ file:///home/conda/feedstock_root/build_artifacts/testpath_1621261527237/work
thefuzz==0.19.0
torch @ file:///Users/runner/miniforge3/conda-bld/pytorch-recipe_1635217250457/work
torchaudio==0.10.0
torchvision @ file:///Users/runner/miniforge3/conda-bld/torchvision-split_1619073586341/work
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1635819700605/work
tqdm==4.62.3
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1635260543454/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1638334978229/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1632350318291/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1600965781394/work
webencodings==0.5.1
whitenoise==5.3.0
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1633302054558/work
